#header{
    background-color:#6d6d70 ;
    background-image: url(//bizweb.dktcdn.net/100/365/442/themes/737549/assets/bg-head.png?1656562257403);
}

.container .column{
    padding: 10px;
}

.header-title{
    color: #fff;
    font-weight: bold;
}


.dropdown:hover .dropdown-menu {
    display: block;
    width: 250px;
    
}
.dropdown ul{
    list-style-type: none;
}
.dropdown-menu .dropdown-item:hover {
    color: orangered;
}

.dropdown-menu .dropdow-menu .dropdown-item:hover {
    background-color: orangered;
    color: white;
}

.dropdown-menu {
    overflow-y: scroll;
    height: 500px;
}

.dropdown-menu::-webkit-scrollbar {
    width: 5px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
    background-color: orangered;
}

.dropdow-menu .sub-menu {
    display: none;
}

.dropdow-menu:hover .sub-menu {
    display: block;

}

.search-box {
    position: relative;
    background: #fff;
    height: 41px;
    width: 500px;
    border: 1px solid #f26522;
}

.search-box input {
    background: none;
    border: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    width: 0px;
    transition: all 0.9s;
}

.search-box input:focus {
    width: 400px;
    padding: 0 6px;
}

.search-box:hover input {
    width: 400px;
    padding: 0 6px;
}

.search-button {
    float: right;
    width: 50px;
    height: 40px;
    border: none;
    background: rgba(0, 0, 0, 0);
    background-color: #f26522;
}

.header-right {
    display: flex;
    width: 250px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    color: white;
    padding-top: 20px;
}

.header-right a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.header-right a:hover {
    color: #f26522;
    font-weight: bold;
}